<form #form>
    <label for="categoryID">Category :</label>
    <input type="text" id="category"  name="category" required>
    <!-- <select name="categoryID" id="categoryID">
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let category of productCategories" [value]="category._id">
            {{ category.name }}
        </option>
    </select> -->

    <button>Create </button>

    <!-- <button type="submit" (click)="onSubmit($event , form)">Create Product</button> -->

</form>