<form #form>
    <label for="categoryID">Category Name</label>
    <input type="text" id="category" name="category" required>
    <label for="categoryID">Parent Category</label>
    <select name="categoryID" id="categoryID">
        <option value="" disabled selected>Select parent Category</option>
        <option *ngFor="let category of productCategories" [value]="category._id">
            {{ category.name }}
        </option>
    </select>

    <label for="image">Images</label>
    <input type="file" (change)="onFileSelected($event)" />
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" id="uploadedImage" />

    <button type="submit" (click)="onSubmit($event , form)">Create Category</button>

</form>