body {
    background-color: #567086;
    padding: 1rem;
}


.productsMainDiv {
    display: flex;
    justify-content: space-around;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
}

th div {
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    align-items: center;
}

th,
td {
    border: 1px solid black;
    color: white;
    text-align: left;
    padding: 8px;
}

td i {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    transition: .6s;
}

td i:hover {
    background: #4e657a;
}

th {
    background-color: #4e657a;
}

/* @media(max-width:1030px) {
    .productsMainDiv {
        flex-direction: column;
        gap: 4rem;
    }
} */

@media (max-width: 1030px) {
    .productsMainDiv {
        flex-direction: column;
        gap: 4rem;
    }
}


.create #createButton {
    cursor: pointer;
    transition: .6s;
    color: orange;

}

.create #createButton:hover {
    color: red;
}

.icon i {
    color: orange;
    cursor: pointer;
    transition: .6s;
}

.icon i:hover {
    color: red;
}