<body>
    <div class="usersMainDiv">
        <div class="icon">
            <i class="fas fa-edit" (click)="redirectToCreateUserPage()">Create User</i>
        </div>
        <table border="1" style="border-collapse: collapse;">
            <tr>
                <th>User Email</th>
                <th>Role</th>
                <th>--</th>
            </tr>

            <tr *ngFor="let user of getJsonValue">
                <ng-container *ngIf="user.role !== 'Super Admin' && user.isDeleted!==true">
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <i class="fas fa-trash-alt" (click)="deleteUser(user._id)"></i>
                    </td>
                </ng-container>
            </tr>
        </table>
    </div>
</body>