/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #567086;
    color: #567086;
    padding: 20px;
}

/* Main Users Div */
.usersMainDiv {
    margin: 20px auto;
    max-width: 600px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #567086;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #567086;
    color: white;
}

tr:nth-child(even) {
    background-color: #567086;
    color: white; /* Changing text color for better readability */
}

/* Icons Styles */
.icon {
    text-align: right;
}

.icon i{
    cursor: pointer;
    color: black;
    font-weight: bold;
}


.icon{
    padding: 7px;
    transition: .6s;
    background-color: orange;
}