<form #form>
  <label for="name">Name:</label>
  <input type="text" id="name" ngModel="product.name" name="name" [value]="product.name" required>

  <label for="price">Price:</label>
  <input type="number" id="price" ngModel="product.price" [value]="product.price" name="price" required>

  <label for="description">Description:</label>
  <textarea id="description" ngModel="product.description" name="description" [value]="product.description"
    required></textarea>

  <label for="size">Size:</label>
  <input type="text" id="size" ngModel="product.size" name="size" [value]="product.size" required>

  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" ngModel="product.quantity" [value]="product.quantity" name="quantity" required>

  <label for="animal">Animal:</label>
  <input type="text" id="animal" ngModel="product.animal" [value]="product.animal" name="animal" required>

  <label for="image">Images</label>
  <input type="file" (change)="onFileSelected($event)" />
  <img [src]="oldImgURL" alt="Uploaded Image" id="uploadedImage"/>


  <label for="categoryID">Category :</label>
  <select name="categoryID" id="categoryID" ngModel="selectedCategoryID">
    <option *ngFor="let category of productCategories" [value]="category._id">
      {{ category.name }}
    </option>
  </select>

  <label for="couponCode">Coupon Code:</label>
  <input type="text" id="couponCode" ngModel="product.coupon.code" name="couponCode" [value]="product.coupon.code">

  <label for="discountPercentage">Discount Percentage:</label>
  <input type="number" id="discountPercentage" ngModel="product.coupon.discountPercentage"
    [value]="product.coupon.discountPercentage" name="discountPercentage">

  <label for="expirationDate">Expiration Date:</label>
  <input type="date" id="expirationDate" ngModel="product.coupon.expirationDate" name="expirationDate"
    [value]="product.coupon.expirationDate">

  <button type="submit" (click)="onSubmit($event , form)">Update Product</button>

</form>