form {
    background-color: #4e657a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 26rem;
    padding: 2rem;
    gap: 6px;
    color: white;
    margin-top: 2rem;
    /* border: 1px solid black; */
}


form input , form select{
    border: none;
    outline: none;
    padding: 13px;
    width: 100%;
    background-color: #6f7c8f;
    color: white;
}

form a,
#login , button{
    border: none;
    padding: 15px;
    background-color: orange;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email,
.password {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


form span {
    font-size: 14px;
}

button:disabled {
    visibility: hidden;
    background-color: transparent !important;
    color: transparent !important;
}

form textarea{
    max-width: 22rem;
    min-width: 22rem;
    border: none;
    outline: none;
    background-color: #6f7c8f;
    min-height: 5rem !important;
    max-height: 18rem !important;
}

