 <body>
    {{ productData.paymentStatus }}
    <h1>Order-Info : Product @ {{ productId }}</h1>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>User Email</th>
            <th>Payment Status</th>
            <th>Product Status</th>
        </tr>

        <tr>
            <td>{{ productData.name }}</td>
            <td>{{ orderData.price }} Usd</td>
            <td>{{ productData.email }}</td>

            <td>
                <select name="Payment" id="payment">
                    <option value="">{{ productData.paymentStatus }}</option>
                    <option value="delivered">Delivered</option>
                    <option value="pending">Pending</option>
                    <option value="refunded">Refunded</option>
                    <option value="rejected">Rejected</option>
                </select>
            </td>

            <td>
                <select name="OrderStatus" id="orderStatus">
                    <option value="">{{ productData.orderStatus }}</option>
                    <option value="delivered">Delivered</option>
                    <option value="pending">Pending</option>
                    <option value="returned">Returned</option>
                    <!-- Add other relevant options for order status -->
                </select>
            </td>
        </tr>
    </table>

    <button>Update</button>
</body>

