table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #567086;
    /* Changed border thickness */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #567086;
    color: white;
    /* Added text color for better visibility */
}

tr:nth-child(even) {
    background-color: orange;
}

select {
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

select {
    background: orange;
    border: none;
}